body{
        background-color: rgb(238, 215, 215);
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        font-family: "Fira Code,Consolas,'Courier New'";
}
.page{
        width: 50%;
        margin-top: 200px;
        margin-bottom: 200px;
        background-color: white;
        padding: 50px;
        border-radius: 35px;
}
img{
        width: 100%;
        border-radius: 20px;
}
h1{
        font-weight: bold;
        font-size: 50px;
}
.prepration{
        background-color: rgba(184, 105, 117, 0.121);
        border-radius: 15px;
        padding: 15px 25px 15px 25px;       
}
h3{
        color: rgb(114, 35, 170);
}
h2{
        color: brown;
}
li{
        padding-left: 20px;
        margin-bottom: 10px;
}
li::marker{
        color: brown;
}
b{
        font-weight: 900;
        font-size: 16px;
}
table{
       width: 100%;
       border-collapse: collapse;
}
td{
        text-align: left;
        border-bottom: 1px solid black;
        padding: 10px;
}